In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
PATH = '/content/drive/MyDrive/Colab Notebooks/final/'

In [3]:
import pandas as pd 
df = pd.read_csv(PATH+'word_frequency.csv',encoding='cp949')

In [4]:
df

      word  frequency
0        의       9029
1        을       8088
2       하다       6734
3        이       5475
4        에       4086
...    ...        ...
16764  곽백수          1
16765  신성록          1
16766  김소은          1
16767  이상윤          1
16768   린펑          1

[16769 rows x 2 columns]

In [5]:
with open(PATH+'stopwords_korean.txt', 'r', encoding='utf8') as f:
    stopwords = f.readline()
stopwords = stopwords.split()
print(stopwords[:5])

['아', '휴', '아이구', '아이쿠', '아이고']

In [6]:
df[df.frequency==1].count()

word         6415
frequency    6415
dtype: int64

In [7]:
text = []
for word in df.word:
    if word not in stopwords:
        text.append(word)

In [25]:
df1 = pd.DataFrame(text,columns=['word'])

In [9]:
kakao = pd.read_csv(PATH+'kp_week.csv',encoding='cp949')

In [10]:
kakao.head()

   Unnamed: 0  ...                                   t_image
0           0  ...   cHyfs/hy41GaQT02/8lTAkYiB5MqJuKdoSmJEBK
1           1  ...  cDeRi1/hyVkDNZUdD/WyUnrIQ0gkyKdkLzL5ajh1
2           2  ...   9Eoo5/hyATyGp2En/pYYjRkJJIrpHEvDible6T0
3           3  ...  cof1Bi/hyQ9Q45PWC/L84IXRvtte4PTzZS6dXbB0
4           4  ...   HrHN1/hy41P6FJKt/FCR6J7pW8bFVRQVJx7Mlo0

[5 rows x 7 columns]

In [11]:
kakao.title.value_counts()

전신귀환                                       7
이세계의 지존 플레이어                               7
다정다감                                       5
웽툰                                         5
고교최강                                       5
                                          ..
이별을 희망합니다                                  1
양극의 소년                                     1
여성향 게임의 파멸 플래그밖에 없는 악역 영애로 환생해버렸다… 컬러웹툰    1
더 이상 사랑하지 않는다                              1
왕녀는 미친 척을 한다                               1
Name: title, Length: 852, dtype: int64

In [12]:
kakao[kakao.title=='전신귀환']

     Unnamed: 0 title  ... platform                                   t_image
51           51  전신귀환  ...   카카오페이지  cpaHm2/hy41GPjkpQ/9UoafWb7KaSVZk89LpN9D1
209         209  전신귀환  ...   카카오페이지  cpaHm2/hy41GPjkpQ/9UoafWb7KaSVZk89LpN9D1
322         322  전신귀환  ...   카카오페이지  cpaHm2/hy41GPjkpQ/9UoafWb7KaSVZk89LpN9D1
474         474  전신귀환  ...   카카오페이지  cpaHm2/hy41GPjkpQ/9UoafWb7KaSVZk89LpN9D1
621         621  전신귀환  ...   카카오페이지  cpaHm2/hy41GPjkpQ/9UoafWb7KaSVZk89LpN9D1
789         789  전신귀환  ...   카카오페이지  cpaHm2/hy41GPjkpQ/9UoafWb7KaSVZk89LpN9D1
921         921  전신귀환  ...   카카오페이지  cpaHm2/hy41GPjkpQ/9UoafWb7KaSVZk89LpN9D1

[7 rows x 7 columns]

In [13]:
kakao[kakao.title=='이세계의 지존 플레이어']

     Unnamed: 0         title  ... platform                                  t_image
61           61  이세계의 지존 플레이어  ...   카카오페이지  rUat0/hy41NHStO8/PNr3qVFMtRhqzuKdSY4uyK
180         180  이세계의 지존 플레이어  ...   카카오페이지  rUat0/hy41NHStO8/PNr3qVFMtRhqzuKdSY4uyK
333         333  이세계의 지존 플레이어  ...   카카오페이지  rUat0/hy41NHStO8/PNr3qVFMtRhqzuKdSY4uyK
485         485  이세계의 지존 플레이어  ...   카카오페이지  rUat0/hy41NHStO8/PNr3qVFMtRhqzuKdSY4uyK
644         644  이세계의 지존 플레이어  ...   카카오페이지  rUat0/hy41NHStO8/PNr3qVFMtRhqzuKdSY4uyK
802         802  이세계의 지존 플레이어  ...   카카오페이지  rUat0/hy41NHStO8/PNr3qVFMtRhqzuKdSY4uyK
933         933  이세계의 지존 플레이어  ...   카카오페이지  rUat0/hy41NHStO8/PNr3qVFMtRhqzuKdSY4uyK

[7 rows x 7 columns]

In [14]:
kakao[kakao.title=='다정다감']

     Unnamed: 0 title  ... platform                                  t_image
57           57  다정다감  ...   카카오페이지  kgg0s/hzacbJz0Do/JBsdNG17DE9Pytcsc7VCZK
175         175  다정다감  ...   카카오페이지  kgg0s/hzacbJz0Do/JBsdNG17DE9Pytcsc7VCZK
331         331  다정다감  ...   카카오페이지  kgg0s/hzacbJz0Do/JBsdNG17DE9Pytcsc7VCZK
480         480  다정다감  ...   카카오페이지  kgg0s/hzacbJz0Do/JBsdNG17DE9Pytcsc7VCZK
639         639  다정다감  ...   카카오페이지  kgg0s/hzacbJz0Do/JBsdNG17DE9Pytcsc7VCZK

[5 rows x 7 columns]

In [15]:
kakao.drop_duplicates(['title'],inplace=True)

In [16]:
kakao.title.value_counts()

플라워 워 (Flower War)    1
독재                    1
미슐랭스타                 1
라이언, 더 라이언            1
수련만 삼천년               1
                     ..
주정                    1
악녀의 탄생                1
루갈 (RUGAL)            1
화홍                    1
왕녀는 미친 척을 한다          1
Name: title, Length: 852, dtype: int64

In [17]:
kakao.shape

(852, 7)

In [18]:
kakao.drop('Unnamed: 0',axis=1,inplace=True)

In [19]:
kakao.to_csv(PATH+'kakao_title.csv',index=False)

In [20]:
data = pd.read_csv(PATH+'kakao_title.csv')

In [21]:
data.title.value_counts

<bound method IndexOpsMixin.value_counts of 0          우선 남동생부터 숨기자
1       이번 생은 가주가 되겠습니다
2              묵향 다크레이디
3          튜토리얼이 너무 어렵다
4          8클래스 마법사의 회귀
             ...
847       이 남자를 상속받겠습니다
848                수호룡기
849    드래곤 엑스(Dragon-X)
850        세븐나이츠 : 알카이드
851                  진협
Name: title, Length: 852, dtype: object>

In [22]:
data[data.title=='전신귀환']

   title day  ... platform                                   t_image
51  전신귀환  매일  ...   카카오페이지  cpaHm2/hy41GPjkpQ/9UoafWb7KaSVZk89LpN9D1

[1 rows x 6 columns]

In [27]:
new_word = pd.merge(df,df1,on='word')

In [32]:
new_word.iloc[:30]

   word  frequency
0     은       3176
1     는       2432
2     도       1033
3    이다       1013
4    시작        829
5    사랑        730
6     날        714
7    보다        693
8    위해        690
9   이야기        679
10   남자        614
11    고        612
12  되어다        575
13   받다        565
14    다        513
15    못        512
16    게        508
17  버리다        499
18  개정판        485
19   세계        460
20  그렇다        455
21   세상        435
22   작가        424
23  만나다        403
24   가다        403
25   인간        377
26    곳        371
27   오다        341
28    눈        338
29  주인공        334