In [1]:
import pandas as pd 
path = '/content/drive/MyDrive/Colab Notebooks/final/'
kpw = pd.read_csv(path+'kp_week1_1.csv')
kpc = pd.read_csv(path+'kp_completed_1.csv')

In [2]:
kpw.head(1)

   Unnamed: 0         title  ...                                  t_image        ID
0           0  우선 남동생부터 숨기자  ...  cHyfs/hy41GaQT02/8lTAkYiB5MqJuKdoSmJEBK  57492806

[1 rows x 9 columns]

In [3]:
kpc.head(1)

   Unnamed: 0  ...        ID
0           0  ...  50242834

[1 rows x 9 columns]

In [4]:
kpw.title.value_counts()

허세로 레벨업 하기!             1
너의 열일곱                  1
인소의 법칙                  1
나 홀로 주문 사용자             1
호랑이 장가드는 날 [BL, 개정판]    1
                       ..
진홍의 카르마                 1
올드뉴비 김춘식                1
그 악녀에게는 폭군이 필요하다        1
식욕                      1
나는 이 집 아이               1
Name: title, Length: 852, dtype: int64

In [5]:
kpc.title.value_counts()

68단계              1
역학적 행운 보존의 법칙     1
신형빈 도시액션 시즌5      1
심장에게 주다 웹툰판       1
하승남 무협의 정수 시즌2    1
                 ..
꽃이 오르는 식탁         1
연하어택              1
체이서               1
황성 무림지존 컬렉션       1
황제의 반려            1
Name: title, Length: 852, dtype: int64

In [6]:
# kpw.drop(columns=['writer','illustrator'],inplace=True)
kpw.insert(2, 'writer', 0)
kpw.insert(3, 'illustrator', 1)

# 글 작가, 그림 작가 나누기
kpw['writer'], kpw['illustrator'] = zip(*kpw['author'].apply(lambda x:[x.strip() for x in x.split(',')] if ',' in x else [x, x]))
# nwb.drop(columns='author', inplace=True)
kpw.head(3)

   Unnamed: 0  ...        ID
0           0  ...  57492806
1           1  ...  56566288
2           2  ...  53216022

[3 rows x 11 columns]

In [7]:
kpw.tail(5)

     Unnamed: 0  ...        ID
847         985  ...  56113973
848         986  ...  56448122
849         987  ...  51698328
850         988  ...  53305242
851         989  ...  53894763

[5 rows x 11 columns]

In [8]:
# kpc.drop(columns=['writer','illustrator'],inplace=True)
kpc.insert(2, 'writer', 0)
kpc.insert(3, 'illustrator', 1)

# 글 작가, 그림 작가 나누기
kpc['writer'], kpc['illustrator'] = zip(*kpc['author'].apply(lambda x:[x.strip() for x in x.split(',')] if ',' in x else [x, x]))
# nwb.drop(columns='author', inplace=True)
kpc.head(3)

   Unnamed: 0  ...        ID
0           0  ...  50242834
1           1  ...  56458652
2           2  ...  52902073

[3 rows x 11 columns]

In [9]:
kpc.tail()

     Unnamed: 0  ...        ID
847         847  ...  54854269
848         848  ...  55322266
849         849  ...  53141966
850         850  ...  55799308
851         851  ...  57735628

[5 rows x 11 columns]

In [10]:
kp = pd.concat([kpw,kpc])

In [11]:
kp.drop(columns=['Unnamed: 0','author','t_image','ID'],inplace=True)

In [12]:
kp.head(2)

             title  ... platform
0     우선 남동생부터 숨기자  ...   카카오페이지
1  이번 생은 가주가 되겠습니다  ...   카카오페이지

[2 rows x 7 columns]

### 네이버

In [13]:
encoding = 'cp949'
naver_w =  pd.read_csv(path+'NAVER.csv',encoding=encoding)
naver_w.head(2)

   id title  ...  score platform
0   0   참교육  ...  9.776   네이버 웹툰
1   1  신의 탑  ...  9.499   네이버 웹툰

[2 rows x 8 columns]

In [14]:
naver_c =  pd.read_csv(path+'NAVER_FINISH.csv',encoding=encoding)
naver_c.insert(3,'day','완결')
naver_c.head(2)

   id         title  ... score platform
0   0  국왕과 성기사의 약탈혼  ...  9.78   네이버 웹툰
1   1        성경의 역사  ...  7.43   네이버 웹툰

[2 rows x 8 columns]

In [15]:
naver = pd.concat([naver_w,naver_c])
naver.tail(2)

        id title  ... score platform
1023  1023   와탕카  ...  9.63   네이버 웹툰
1024  1024    타투  ...  9.20   네이버 웹툰

[2 rows x 8 columns]

In [16]:
# naver.drop(columns=['writer','illustrator'],inplace=True)
naver.insert(2, 'writer', 0)
naver.insert(3, 'illustrator', 1)

# 글 작가, 그림 작가 나누기
naver['writer'], naver['illustrator'] = zip(*naver['author'].apply(lambda x:[x.strip() for x in x.split('/')] if '/' in x else [x, x]))
naver.drop(columns='author', inplace=True)
naver.head(3)

   id    title  ...  score platform
0   0      참교육  ...  9.776   네이버 웹툰
1   1     신의 탑  ...  9.499   네이버 웹툰
2   2  뷰티풀 군바리  ...  9.660   네이버 웹툰

[3 rows x 9 columns]

In [17]:
naver.drop(columns=['id','score'],inplace=True)

In [18]:
naver.head(2)

  title writer  ...                                              story platform
0   참교육    채용택  ...  무너진 교권을 지키기 위해 교권보호국 소속 나화진의 참교육이 시작된다! 부활남 채용...   네이버 웹툰
1  신의 탑    SIU  ...     자신의 모든 것이었던 소녀를 쫓아 탑에 들어온 소년 그리고 그런 소년을 시험하는 탑   네이버 웹툰

[2 rows x 7 columns]

### 카카오 웹툰

In [19]:
kww = pd.read_csv(path + 'kakao.csv',encoding=encoding)
kww.head(2)

   Unnamed: 0  ...                                          Thumbnail
0           0  ...  https://kr-a.kakaopagecdn.com/P/C/1781/c2/2x/5...
1           1  ...  https://kr-a.kakaopagecdn.com/P/C/1933/c2/2x/f...

[2 rows x 8 columns]

In [20]:
kwp = pd.read_csv(path + 'kakao_completed.csv',encoding=encoding)
kwp.head(2)

   Unnamed: 0  ...                                          Thumbnail
0           0  ...  https://kr-a.kakaopagecdn.com/P/C/1532/c2/2x/6...
1           1  ...  https://kr-a.kakaopagecdn.com/P/C/1683/c2/2x/1...

[2 rows x 8 columns]

In [21]:
kw = pd.concat([kww,kwp])
kw.head(2)

   Unnamed: 0  ...                                          Thumbnail
0           0  ...  https://kr-a.kakaopagecdn.com/P/C/1781/c2/2x/5...
1           1  ...  https://kr-a.kakaopagecdn.com/P/C/1933/c2/2x/f...

[2 rows x 8 columns]

In [22]:
kw.drop(columns=['Unnamed: 0','Thumbnail'],inplace=True)

In [23]:
kw.head(2)

      title author  ...                                              story platform
0   바니와 오빠들     니은  ...  외모 따지지 않는 개념녀 ? 아니, 나 완전 얼빠 야! 신입생 시절, 남자의 외모를...    카카오웹툰
1  사귄 건 아닌데     민홍  ...  스물아홉 살, 서른을 목전에 둔 나이. 고수아는 그 나이가 괜히 심란하다. 고향을 ...    카카오웹툰

[2 rows x 6 columns]

In [24]:
# kw.drop(columns=['writer','illustrator'],inplace=True)
kw.insert(2, 'writer', 0)
kw.insert(3, 'illustrator', 1)

# 글 작가, 그림 작가 나누기
kw['writer'], kw['illustrator'] = zip(*kw['author'].apply(lambda x:[x.strip() for x in x.split('/')] if '/' in x else [x, x]))
kw.drop(columns='author', inplace=True)
kw.head(3)

      title writer  ...                                              story platform
0   바니와 오빠들     니은  ...  외모 따지지 않는 개념녀 ? 아니, 나 완전 얼빠 야! 신입생 시절, 남자의 외모를...    카카오웹툰
1  사귄 건 아닌데     민홍  ...  스물아홉 살, 서른을 목전에 둔 나이. 고수아는 그 나이가 괜히 심란하다. 고향을 ...    카카오웹툰
2        액괴    서강용  ...  일진들에게 수모를 당하며 황색망사점균을 먹게 된 교내 왕따 수와 진오. 그로 인해 ...    카카오웹툰

[3 rows x 7 columns]

### 레진 코믹스

In [25]:
lz = pd.read_csv(path+'LZ.csv')

In [26]:
lz.head()

   Unnamed: 0  id  ... serial platform
0           0   0  ...      O    레진코믹스
1           1   1  ...      O    레진코믹스
2           2   2  ...      X    레진코믹스
3           3   3  ...      O    레진코믹스
4           4   4  ...      O    레진코믹스

[5 rows x 9 columns]

In [27]:
lz.drop(columns=['Unnamed: 0','id','serial'],inplace=True)
lz.head(1)

   title author  ...                                              story platform
0  바른쀼생활     윤박  ...  원룸에서 츄리닝 차림으로 한 프러포즈, 그리고 결혼..? 스물일곱 동갑내기의 바른 ...    레진코믹스

[1 rows x 6 columns]

In [28]:
# lz.drop(columns=['writer','illustrator'],inplace=True)
lz.insert(2, 'writer', 0)
lz.insert(3, 'illustrator', 1)

# 글 작가, 그림 작가 나누기
lz['writer'], lz['illustrator'] = zip(*lz['author'].apply(lambda x:[x.strip() for x in x.split('/')] if ('/') in x else [x, x]))
lz.drop(columns='author', inplace=True)
lz.head(3)

         title  ... platform
0        바른쀼생활  ...    레진코믹스
1  이토록 다채로운 핏빛  ...    레진코믹스
2         아스란히  ...    레진코믹스

[3 rows x 7 columns]

In [29]:
lz.head()

          title  ... platform
0         바른쀼생활  ...    레진코믹스
1   이토록 다채로운 핏빛  ...    레진코믹스
2          아스란히  ...    레진코믹스
3  사랑이라 생각하지 않아  ...    레진코믹스
4         바퀴멘터리  ...    레진코믹스

[5 rows x 7 columns]

### 카카오 웹툰 소설

In [30]:
kn=pd.read_csv(path + 'kakao_novel.csv',encoding=encoding)
kn.head(1)

   Unnamed: 0  ...                                          Thumbnail
0           0  ...  https://kr-a.kakaopagecdn.com/P/C/2467/c2/2x/2...

[1 rows x 8 columns]

In [31]:
knp = pd.read_csv(path + 'kakao_novel_completed.csv',encoding=encoding)
knp.head(1)

   Unnamed: 0  ...                                          Thumbnail
0           0  ...  https://kr-a.kakaopagecdn.com/P/C/2307/c2/2x/c...

[1 rows x 8 columns]

In [32]:
k_novel = pd.concat([kn,knp])
k_novel.head()

   Unnamed: 0  ...                                          Thumbnail
0           0  ...  https://kr-a.kakaopagecdn.com/P/C/2467/c2/2x/2...
1           1  ...  https://kr-a.kakaopagecdn.com/P/C/2434/c2/2x/6...
2           2  ...  https://kr-a.kakaopagecdn.com/P/C/2400/c2/2x/0...
3           3  ...  https://kr-a.kakaopagecdn.com/P/C/2509/c2/2x/2...
4           4  ...  https://kr-a.kakaopagecdn.com/P/C/2325/c2/2x/d...

[5 rows x 8 columns]

In [33]:
k_novel.drop(columns = ['Unnamed: 0','Thumbnail'],inplace=True)

In [34]:
# lz.drop(columns=['writer','illustrator'],inplace=True)
k_novel.insert(2, 'writer', 0)
k_novel.insert(3, 'illustrator', 1)

# 글 작가, 그림 작가 나누기
k_novel['writer'], k_novel['illustrator'] = zip(*k_novel['author'].apply(lambda x:[x.strip() for x in x.split('/')] if ('/') in x else [x, x]))
k_novel.drop(columns='author', inplace=True)
k_novel.head(3)

                 title  ... platform
0         튜토리얼이 너무 어렵다  ...    카카오웹툰
1                녹음의 관  ...    카카오웹툰
2  모시던 아가씨가 도련님이 되어버렸다  ...    카카오웹툰

[3 rows x 7 columns]

### 데이터 통합

In [35]:
test=pd.concat([naver,kp,kw,lz,k_novel])

In [36]:
test

       title  ... platform
0        참교육  ...   네이버 웹툰
1       신의 탑  ...   네이버 웹툰
2    뷰티풀 군바리  ...   네이버 웹툰
3     윈드브레이커  ...   네이버 웹툰
4       팔이피플  ...   네이버 웹툰
..       ...  ...      ...
9   외과의사 엘리제  ...    카카오웹툰
10    진심이 닿다  ...    카카오웹툰
11     드림사이드  ...    카카오웹툰
12   더스크 하울러  ...    카카오웹툰
13   애완견의 법칙  ...    카카오웹툰

[4309 rows x 7 columns]

In [37]:
test[test.title=='바니와 오빠들']

     title writer  ...                                              story platform
0  바니와 오빠들     니은  ...  외모 따지지 않는 개념녀 ? 아니, 나 완전 얼빠 야! 신입생 시절, 남자의 외모를...    카카오웹툰

[1 rows x 7 columns]

In [38]:
test.title.value_counts()

폭군황제의 첫사랑      3
트리거            3
묵향 디 오리진       3
갱스쿨            3
하렘생존기          2
              ..
유리구두           1
고등매직           1
섀도우            1
호구의 사랑         1
김 비서가 왜 그럴까    1
Name: title, Length: 4017, dtype: int64

In [39]:
test[test.title=='갱스쿨']

    title   writer  ...                                              story platform
294   갱스쿨  taibogi  ...  아버지의 자살로 일순간 모래성처럼 무너져 버린 가족들. 정신을 놓은 어머니와 맹인 ...   카카오페이지
104   갱스쿨  taibogi  ...  아버지의 자살로 일순간 모래성처럼 무너져 버린 가족들. 정신을 놓은 어머니와 맹인 ...    카카오웹툰
75    갱스쿨  taibogi  ...  아버지의 자살로 일순간 모래성처럼 무너져 버린 가족들. 정신을 놓은 어머니와 맹인 ...    카카오웹툰

[3 rows x 7 columns]

In [40]:
test[test.title=='연화']

   title   writer  ...                                              story platform
19    연화  스튜디오 열일  ...  고려시대를 배경으로 가상의 이야기를 결합한 퓨전 사극로맨스. 아버지의 복수를 위해 ...    레진코믹스

[1 rows x 7 columns]

In [41]:
# test.to_csv('test.csv',encoding='utf-8',index=False)

In [42]:
test.drop_duplicates(['title','writer','story'],inplace=True)

In [43]:
cnt = test.title.value_counts()
cnt = pd.DataFrame(cnt)
cnt.reset_index(inplace=True)
cnt.columns = ['title','cnt']
cnt.head()
test = pd.merge(test,cnt,on='title')

In [44]:
test.genre.unique()

array(['스토리, 액션', '스토리, 판타지', '스토리, 드라마', '스토리, 스포츠', '스토리, 스릴러',
       '스토리, 로맨스', '에피소드, 드라마', '옴니버스, 판타지', '옴니버스, 일상', '에피소드, 개그',
       '스토리, 개그', '에피소드, 일상', '옴니버스, 드라마', '스토리, 감성', '스토리, 시대극',
       '액션무협만화', '학원/판타지', '에피소드, 액션', '에피소드, 판타지', '에피소드, 시대극',
       '에피소드, 스릴러', '스토리, 일상', '옴니버스, 로맨스', '옴니버스, 스릴러', '옴니버스, 개그',
       '에피소드, 로맨스', '옴니버스, 감성', '에피소드, 감성', '옴니버스, 액션', '드라마', '드라마만화',
       '에피소드, 스포츠', '옴니버스, 스포츠', '공포/스릴러', '로판만화', '소년만화', '액션/무협',
       '로맨스만화', '판타지 드라마', '로맨스 판타지', 'BL/GL만화', '로맨스', '코믹/일상', 'BL',
       '코미가', '일상', '판타지', '백합', '개그', '미스터리', '학원', '액션'], dtype=object)

In [45]:
test.genre.replace({'로판만화':'로맨스, 판타지','로맨스만화':'로맨스',
                        'BL':'BL, GL','BL/GL':'BL, GL','BL/GL만화':'BL, GL','로맨스 판타지':'로맨스, 판타지',
                        '액션무협만화':'액션, 무협','액션/무협':'액션, 무협',
                        '코믹/일상': '코믹, 일상','공포/스릴러':'공포,스릴러',
                        '학원/판타지':'학원, 판타지'},inplace=True)

In [46]:
test.genre.unique()

array(['스토리, 액션', '스토리, 판타지', '스토리, 드라마', '스토리, 스포츠', '스토리, 스릴러',
       '스토리, 로맨스', '에피소드, 드라마', '옴니버스, 판타지', '옴니버스, 일상', '에피소드, 개그',
       '스토리, 개그', '에피소드, 일상', '옴니버스, 드라마', '스토리, 감성', '스토리, 시대극',
       '액션, 무협', '학원, 판타지', '에피소드, 액션', '에피소드, 판타지', '에피소드, 시대극',
       '에피소드, 스릴러', '스토리, 일상', '옴니버스, 로맨스', '옴니버스, 스릴러', '옴니버스, 개그',
       '에피소드, 로맨스', '옴니버스, 감성', '에피소드, 감성', '옴니버스, 액션', '드라마', '드라마만화',
       '에피소드, 스포츠', '옴니버스, 스포츠', '공포,스릴러', '로맨스, 판타지', '소년만화', '로맨스',
       '판타지 드라마', 'BL, GL', '코믹, 일상', '코미가', '일상', '판타지', '백합', '개그',
       '미스터리', '학원', '액션'], dtype=object)

In [47]:
test

               title     writer  ... platform cnt
0                참교육        채용택  ...   네이버 웹툰   1
1               신의 탑        SIU  ...   네이버 웹툰   1
2            뷰티풀 군바리         설이  ...   네이버 웹툰   1
3             윈드브레이커        조용석  ...   네이버 웹툰   1
4               팔이피플         매미  ...   네이버 웹툰   1
...              ...        ...  ...      ...  ..
4251             포젯션  Happykwak  ...    레진코믹스   1
4252   비 마이 게스트[개정판]         영모  ...    레진코믹스   1
4253  악녀는 모래시계를 되돌린다         땔깜  ...    카카오웹툰   1
4254     김 비서가 왜 그럴까        김명미  ...    카카오웹툰   1
4255         더스크 하울러         크루  ...    카카오웹툰   1

[4256 rows x 8 columns]

In [48]:
test.to_csv(path+'dataset.csv',encoding='utf8',index=False)

In [49]:
test[test.cnt >1]

            title writer  ... platform cnt
62            트리거    고경빈  ...   네이버 웹툰   3
63            트리거   불만있냥  ...   카카오페이지   3
64            트리거   불만있냥  ...    카카오웹툰   3
280        성경의 역사    최경민  ...   네이버 웹툰   2
281        성경의 역사    최경민  ...   네이버 웹툰   2
...           ...    ...  ...      ...  ..
3299  머리 위로 부는 바람    이이영  ...    카카오웹툰   2
3314        해치지않아    Hun  ...   카카오페이지   2
3315        해치지않아    Hun  ...    카카오웹툰   2
3366     당신은 나의 신     재해  ...   카카오페이지   2
3367     당신은 나의 신     재해  ...    레진코믹스   2

[477 rows x 8 columns]

In [52]:
test[test.title == '성경의 역사']

      title writer  ... platform cnt
280  성경의 역사    최경민  ...   네이버 웹툰   2
281  성경의 역사    최경민  ...   네이버 웹툰   2

[2 rows x 8 columns]

In [53]:
test.drop_duplicates(['title','writer'])

               title     writer  ... platform cnt
0                참교육        채용택  ...   네이버 웹툰   1
1               신의 탑        SIU  ...   네이버 웹툰   1
2            뷰티풀 군바리         설이  ...   네이버 웹툰   1
3             윈드브레이커        조용석  ...   네이버 웹툰   1
4               팔이피플         매미  ...   네이버 웹툰   1
...              ...        ...  ...      ...  ..
4251             포젯션  Happykwak  ...    레진코믹스   1
4252   비 마이 게스트[개정판]         영모  ...    레진코믹스   1
4253  악녀는 모래시계를 되돌린다         땔깜  ...    카카오웹툰   1
4254     김 비서가 왜 그럴까        김명미  ...    카카오웹툰   1
4255         더스크 하울러         크루  ...    카카오웹툰   1

[4062 rows x 8 columns]

### 영성님 작업

In [1]:
import pandas as pd
path = '/content/drive/MyDrive/Colab Notebooks/final/'
test2 = pd.read_csv(path+'webtoon최종.csv',encoding='cp949')

In [2]:
test2

      Unnamed: 0                  title  ... platform     genre
0              0                    참교육  ...   네이버 웹툰   스토리, 액션
1              1                   신의 탑  ...   네이버 웹툰  스토리, 판타지
2              2                뷰티풀 군바리  ...   네이버 웹툰  스토리, 드라마
3              3                 윈드브레이커  ...   네이버 웹툰  스토리, 스포츠
4              4                   팔이피플  ...   네이버 웹툰  스토리, 드라마
...          ...                    ...  ...      ...       ...
4019        4303  도깨비도 수풀이 있어야 모인다[개정판]  ...    레진코믹스        BL
4020        4304           던전 속 사정[개정판]  ...    레진코믹스       판타지
4021        4305          튀어나왔어요, BL만화!  ...    레진코믹스       드라마
4022        4306                    포젯션  ...    레진코믹스       판타지
4023        4307          비 마이 게스트[개정판]  ...    레진코믹스       로맨스

[4024 rows x 8 columns]

In [3]:
test2[test2.title == '트리거']

      Unnamed: 0 title  ... platform     genre
62            62   트리거  ...   네이버 웹툰  스토리, 판타지
1513        1513   트리거  ...    카카오웹툰    학원/판타지

[2 rows x 8 columns]

In [4]:
test2.drop(columns=['Unnamed: 0'],inplace=True)

In [5]:
test2.genre.unique()

array(['스토리, 액션', '스토리, 판타지', '스토리, 드라마', '스토리, 스포츠', '스토리, 스릴러',
       '스토리, 로맨스', '에피소드, 드라마', '옴니버스, 판타지', '옴니버스, 일상', '에피소드, 개그',
       '스토리, 개그', '에피소드, 일상', '옴니버스, 드라마', '스토리, 감성', '스토리, 시대극',
       '에피소드, 액션', '에피소드, 판타지', '에피소드, 시대극', '에피소드, 스릴러', '스토리, 일상',
       '옴니버스, 로맨스', '옴니버스, 스릴러', '옴니버스, 개그', '에피소드, 로맨스', '옴니버스, 감성',
       '에피소드, 감성', '옴니버스, 액션', '에피소드, 스포츠', '옴니버스, 스포츠', '로맨스', '학원/판타지',
       '로맨스 판타지', '코믹/일상', '액션/무협', '공포/스릴러', '판타지 드라마', '드라마', '코미가',
       '로판만화', '드라마만화', '로맨스만화', '소년만화', '액션무협만화', 'BL/GL만화', '일상', '판타지',
       'BL', '백합', '개그', '미스터리', '학원', '액션'], dtype=object)

In [12]:
test2.genre.replace({'로판만화':'로맨스, 판타지','로맨스만화':'로맨스','BL':'BL, GL','BL/GL':'BL, GL','BL/GL만화':'BL, GL',
                     '로맨스 판타지':'로맨스, 판타지','액션무협만화':'액션, 무협','액션/무협':'액션, 무협','코믹/일상': '코믹, 일상',
                     '공포/스릴러':'공포,스릴러','학원/판타지':'학원, 판타지','백합':'BL, GL','스토리, 액션':'액션', '스토리, 판타지':'판타지', '스토리, 드라마':'드라마', '스토리, 스포츠':'스포츠', '스토리, 스릴러':'스릴러',
                     '스토리, 로맨스':'로맨스', '에피소드, 드라마':'드라마', '옴니버스, 판타지':'판타지', '옴니버스, 일상':'일상', '에피소드, 개그':'개그','스토리, 개그':'개그', '에피소드, 일상':'일상', 
                     '옴니버스, 드라마':'드라마', '스토리, 감성':'감성', '스토리, 시대극':'시대극','에피소드, 액션':'액션', '에피소드, 판타지':'판타지', '에피소드, 시대극':'시대극', '에피소드, 스릴러':'스릴러', '스토리, 일상':'일상',
                     '옴니버스, 개그':'개그'},inplace=True)

In [24]:
test2.genre.replace({'옴니버스, 로맨스':'로멘스', '옴니버스, 감성':'감성', '에피소드, 감성':'감성',
                     '옴니버스, 액션':'액션', '에피소드, 스포츠':'스포츠', '옴니버스, 스포츠':'스포츠'},inplace=True)

In [25]:
test2.genre.unique()

array(['액션', '판타지', '드라마', '스포츠', '스릴러', '로맨스', '일상', '개그', '감성', '시대극',
       '로멘스', '옴니버스, 스릴러', '에피소드, 로맨스', '학원, 판타지', '로맨스, 판타지', '코믹, 일상',
       '액션, 무협', '공포,스릴러', '판타지 드라마', '코미가', '드라마만화', '소년만화', 'BL, GL',
       '미스터리', '학원'], dtype=object)

In [27]:
test2.genre.replace({'옴니버스, 스릴러':'스릴러','에피소드, 로맨스':'로맨스'},inplace=True)

In [28]:
test2.genre.unique()

array(['액션', '판타지', '드라마', '스포츠', '스릴러', '로맨스', '일상', '개그', '감성', '시대극',
       '로멘스', '학원, 판타지', '로맨스, 판타지', '코믹, 일상', '액션, 무협', '공포,스릴러',
       '판타지 드라마', '코미가', '드라마만화', '소년만화', 'BL, GL', '미스터리', '학원'],
      dtype=object)

In [30]:
test2[test2.genre=='코미가']

        title day  ... platform genre
1971  술꾼도시처녀들  완결  ...    카카오웹툰   코미가

[1 rows x 7 columns]

In [31]:
test2.genre.replace({'코미가':'코믹, 일상'},inplace=True)
test2.genre.unique()

array(['액션', '판타지', '드라마', '스포츠', '스릴러', '로맨스', '일상', '개그', '감성', '시대극',
       '로멘스', '학원, 판타지', '로맨스, 판타지', '코믹, 일상', '액션, 무협', '공포,스릴러',
       '판타지 드라마', '드라마만화', '소년만화', 'BL, GL', '미스터리', '학원'], dtype=object)

In [33]:
test2[['title','writer','illustrator','day','genre','story','platform']]

                      title  ... platform
0                       참교육  ...   네이버 웹툰
1                      신의 탑  ...   네이버 웹툰
2                   뷰티풀 군바리  ...   네이버 웹툰
3                    윈드브레이커  ...   네이버 웹툰
4                      팔이피플  ...   네이버 웹툰
...                     ...  ...      ...
4019  도깨비도 수풀이 있어야 모인다[개정판]  ...    레진코믹스
4020           던전 속 사정[개정판]  ...    레진코믹스
4021          튀어나왔어요, BL만화!  ...    레진코믹스
4022                    포젯션  ...    레진코믹스
4023          비 마이 게스트[개정판]  ...    레진코믹스

[4024 rows x 7 columns]

In [34]:
test2.to_csv('dataset_genre.csv',index=False,encoding='cp949')