In [3]:
import pandas as pd 
path = '/content/drive/MyDrive/Colab Notebooks/final/'
kpw = pd.read_csv(path+'kp_week1_1.csv')
kpc = pd.read_csv(path+'kp_completed_1.csv')

In [4]:
kpw.head(1)

   Unnamed: 0         title  ...                                  t_image        ID
0           0  우선 남동생부터 숨기자  ...  cHyfs/hy41GaQT02/8lTAkYiB5MqJuKdoSmJEBK  57492806

[1 rows x 9 columns]

In [5]:
kpc.head(1)

   Unnamed: 0  ...        ID
0           0  ...  50242834

[1 rows x 9 columns]

In [6]:
kpw.title.value_counts()

원수의 가면을 벗기면       1
끝이 아닌 시작          1
영검존               1
쇼윈도 커플            1
황제의 외동딸           1
                 ..
만계신주              1
나 혼자 천재 DNA       1
나는 남주의 전 여친이었다    1
무신향로              1
라미아 오르페가 죽었다      1
Name: title, Length: 852, dtype: int64

In [7]:
kpc.title.value_counts()

폭군의 은밀한 시선 컬렉션 [할리퀸]     1
야뇌 백동수                   1
드라이 플라워(Dry flower)      1
야설록 용호상박 컬렉션             1
수라도                      1
                        ..
파트너의 영역 ∼바이 앤 하이~[BL]    1
앉아, 기다려, 키스해 [BL]        1
충사                       1
연애를 만화로 배웠어요             1
귀신이 곡할 놈들                1
Name: title, Length: 852, dtype: int64

In [13]:
kpc.author[0].split(',')[0]

'고래'

In [18]:
kpw.drop(columns=['writer','illustrator'],inplace=True)
kpw.insert(2, 'writer', 0)
kpw.insert(3, 'illustrator', 1)

# 글 작가, 그림 작가 나누기
kpw['writer'], kpw['illustrator'] = zip(*kpw['author'].apply(lambda x:[x.strip() for x in x.split(',')] if ',' in x else [x, x]))
# nwb.drop(columns='author', inplace=True)
kpw.head(3)

   Unnamed: 0  ...        ID
0           0  ...  57492806
1           1  ...  56566288
2           2  ...  53216022

[3 rows x 11 columns]

In [20]:
kpw.tail(5)

     Unnamed: 0  ...        ID
847         985  ...  56113973
848         986  ...  56448122
849         987  ...  51698328
850         988  ...  53305242
851         989  ...  53894763

[5 rows x 11 columns]

In [24]:
kpc.drop(columns=['writer','illustrator'],inplace=True)
kpc.insert(2, 'writer', 0)
kpc.insert(3, 'illustrator', 1)

# 글 작가, 그림 작가 나누기
kpc['writer'], kpc['illustrator'] = zip(*kpc['author'].apply(lambda x:[x.strip() for x in x.split(',')] if ',' in x else [x, x]))
# nwb.drop(columns='author', inplace=True)
kpc.head(3)

   Unnamed: 0  ...        ID
0           0  ...  50242834
1           1  ...  56458652
2           2  ...  52902073

[3 rows x 11 columns]

In [23]:
kpc.tail()

     Unnamed: 0  ...        ID
847         847  ...  54854269
848         848  ...  55322266
849         849  ...  53141966
850         850  ...  55799308
851         851  ...  57735628

[5 rows x 11 columns]

In [25]:
print(kpc.shape)
print(kpw.shape)

(852, 11)
(852, 11)

In [28]:
kp = pd.concat([kpw,kpc])

In [30]:
kp.drop(columns=['Unnamed: 0','author','t_image','ID'],inplace=True)

In [31]:
kp.head(2)

             title  ... platform
0     우선 남동생부터 숨기자  ...   카카오페이지
1  이번 생은 가주가 되겠습니다  ...   카카오페이지

[2 rows x 7 columns]

In [35]:
encoding = 'cp949'
naver_w =  pd.read_csv(path+'NAVER.csv',encoding=encoding)
naver_w.head(2)

   id title  ...  score platform
0   0   참교육  ...  9.776   네이버 웹툰
1   1  신의 탑  ...  9.499   네이버 웹툰

[2 rows x 8 columns]

In [37]:
naver_c =  pd.read_csv(path+'NAVER_FINISH.csv',encoding=encoding)
naver_c.insert(3,'day','완결')
naver_c.head(2)

   id         title  ... score platform
0   0  국왕과 성기사의 약탈혼  ...  9.78   네이버 웹툰
1   1        성경의 역사  ...  7.43   네이버 웹툰

[2 rows x 8 columns]

In [38]:
naver = pd.concat([naver_w,naver_c])
naver.tail(2)

        id title  ... score platform
1023  1023   와탕카  ...  9.63   네이버 웹툰
1024  1024    타투  ...  9.20   네이버 웹툰

[2 rows x 8 columns]

In [42]:
naver.drop(columns=['writer','illustrator'],inplace=True)
naver.insert(2, 'writer', 0)
naver.insert(3, 'illustrator', 1)

# 글 작가, 그림 작가 나누기
naver['writer'], naver['illustrator'] = zip(*naver['author'].apply(lambda x:[x.strip() for x in x.split('/')] if '/' in x else [x, x]))
naver.drop(columns='author', inplace=True)
naver.head(3)

   id    title  ...  score platform
0   0      참교육  ...  9.776   네이버 웹툰
1   1     신의 탑  ...  9.499   네이버 웹툰
2   2  뷰티풀 군바리  ...  9.660   네이버 웹툰

[3 rows x 9 columns]

In [43]:
naver.drop(columns=['id','score'],inplace=True)

In [44]:
naver.head(2)

  title writer  ...                                              story platform
0   참교육    채용택  ...  무너진 교권을 지키기 위해 교권보호국 소속 나화진의 참교육이 시작된다! 부활남 채용...   네이버 웹툰
1  신의 탑    SIU  ...     자신의 모든 것이었던 소녀를 쫓아 탑에 들어온 소년 그리고 그런 소년을 시험하는 탑   네이버 웹툰

[2 rows x 7 columns]

In [46]:
kww = pd.read_csv(path + 'kakao.csv',encoding=encoding)
kww.head(2)

   Unnamed: 0  ... platform
0           0  ...    카카오웹툰
1           1  ...    카카오웹툰

[2 rows x 6 columns]

In [47]:
kwp = pd.read_csv(path + 'kakao_completed.csv',encoding=encoding)
kwp.head(2)

   Unnamed: 0  ...                                          Thumbnail
0           0  ...  https://kr-a.kakaopagecdn.com/P/C/1532/c2/2x/6...
1           1  ...  https://kr-a.kakaopagecdn.com/P/C/1683/c2/2x/1...

[2 rows x 7 columns]

In [48]:
kw = pd.concat([kww,kwp])
kw.head(2)

   Unnamed: 0     title  ... platform  Thumbnail
0           0   바니와 오빠들  ...    카카오웹툰        NaN
1           1  사귄 건 아닌데  ...    카카오웹툰        NaN

[2 rows x 7 columns]

In [49]:
kw.drop(columns=['Unnamed: 0','Thumbnail'],inplace=True)

In [50]:
kw.head(2)

      title day  ...                                              story platform
0   바니와 오빠들   월  ...  외모 따지지 않는 개념녀 ? 아니, 나 완전 얼빠 야! 신입생 시절, 남자의 외모를...    카카오웹툰
1  사귄 건 아닌데   월  ...  스물아홉 살, 서른을 목전에 둔 나이. 고수아는 그 나이가 괜히 심란하다. 고향을 ...    카카오웹툰

[2 rows x 5 columns]

In [51]:
kw.genre.fillna('정보없음',inplace=True)
kw.head(2)

      title day  ...                                              story platform
0   바니와 오빠들   월  ...  외모 따지지 않는 개념녀 ? 아니, 나 완전 얼빠 야! 신입생 시절, 남자의 외모를...    카카오웹툰
1  사귄 건 아닌데   월  ...  스물아홉 살, 서른을 목전에 둔 나이. 고수아는 그 나이가 괜히 심란하다. 고향을 ...    카카오웹툰

[2 rows x 5 columns]

In [56]:
kw.title.value_counts()

니니툰즈                               5
이토록 보통의                            2
아버지의 복수는 끝이 없어라                    2
폭군황제의 첫사랑                          2
조국이 당신을 원한다                        2
                                  ..
리세터                                1
개같은 세상                             1
지옥에서                               1
시월드 게임 -please save my husband-    1
미래의 너에게                            1
Name: title, Length: 817, dtype: int64

In [58]:
kw[kw.title=='아버지의 복수는 끝이 없어라']

              title  ... platform
79  아버지의 복수는 끝이 없어라  ...    카카오웹툰
51  아버지의 복수는 끝이 없어라  ...    카카오웹툰

[2 rows x 5 columns]

In [59]:
kw[kw.title=='조국이 당신을 원한다']

           title  ... platform
80   조국이 당신을 원한다  ...    카카오웹툰
106  조국이 당신을 원한다  ...    카카오웹툰

[2 rows x 5 columns]

In [53]:
test=pd.concat([naver,kp,kw])

In [54]:
test.title.value_counts()

니니툰즈               6
폭군황제의 첫사랑          3
트리거                3
조국이 당신을 원한다        3
갱스쿨                3
                  ..
최강전설 강해효           1
백작가의 망나니가 되었다      1
까치우는 날             1
킬링타임               1
[드라마원작] 한번 더 해요    1
Name: title, Length: 3891, dtype: int64

In [55]:
test[test.title=='니니툰즈']

    title writer  ...                                              story platform
46   니니툰즈    니니즈  ...  베일에 쌓인 스노우타운. 지금까지 숨겨왔던 니니즈의 수줍은 귀여움이 공개된다. 코미...   카카오페이지
16   니니툰즈    NaN  ...  베일에 쌓인 스노우타운. 지금까지 숨겨왔던 니니즈의 수줍은 귀여움이 공개된다. 코미...    카카오웹툰
45   니니툰즈    NaN  ...  베일에 쌓인 스노우타운. 지금까지 숨겨왔던 니니즈의 수줍은 귀여움이 공개된다. 코미...    카카오웹툰
71   니니툰즈    NaN  ...  베일에 쌓인 스노우타운. 지금까지 숨겨왔던 니니즈의 수줍은 귀여움이 공개된다. 코미...    카카오웹툰
98   니니툰즈    NaN  ...  베일에 쌓인 스노우타운. 지금까지 숨겨왔던 니니즈의 수줍은 귀여움이 공개된다. 코미...    카카오웹툰
127  니니툰즈    NaN  ...  베일에 쌓인 스노우타운. 지금까지 숨겨왔던 니니즈의 수줍은 귀여움이 공개된다. 코미...    카카오웹툰

[6 rows x 7 columns]

In [60]:
test.to_csv('test.csv',encoding='utf-8',index=False)