In [1]:
import pandas as pd
path = '/content/drive/MyDrive/Colab Notebooks/final/'

In [4]:
# 카카오 페이지 웹툰
kp = pd.read_csv(path+'kakao_total.csv',encoding='cp949')

In [5]:
kp.head()

             title day  ... platform                                   t_image
0     우선 남동생부터 숨기자   월  ...   카카오페이지   cHyfs/hy41GaQT02/8lTAkYiB5MqJuKdoSmJEBK
1  이번 생은 가주가 되겠습니다   월  ...   카카오페이지  cDeRi1/hyVkDNZUdD/WyUnrIQ0gkyKdkLzL5ajh1
2         묵향 다크레이디   월  ...   카카오페이지   9Eoo5/hyATyGp2En/pYYjRkJJIrpHEvDible6T0
3     튜토리얼이 너무 어렵다   월  ...   카카오페이지  cof1Bi/hyQ9Q45PWC/L84IXRvtte4PTzZS6dXbB0
4     8클래스 마법사의 회귀   월  ...   카카오페이지   HrHN1/hy41P6FJKt/FCR6J7pW8bFVRQVJx7Mlo0

[5 rows x 6 columns]

In [17]:
kp.tail()

                    title  ...                                   t_image
1699          아이무드(iMood)  ...   dlOaL/hyEdlwgTcj/beEmFcuKKLaknYihlE6PD0
1700             코드네임 카마엘  ...   oz1NG/hyEdjepacG/EKjiFHnFHZajo8XmefatLk
1701    아이갓츄!(I got you!)  ...   Zyasl/hyATqVU4VF/eC9bkX7K7km9EEK6uHEHiK
1702                  레인돌  ...  b6OYCu/hyF28P3CA8/kI6Zi0mGuCsfApp1rwrtn0
1703  이름이 뭐예요? [BL] [개정판]  ...   jlPRU/hzb7uf0Yhk/RTRdKt2YIGj81k8vcYirwK

[5 rows x 6 columns]

In [6]:
kp_mon = pd.read_csv(path+'kp_mon.csv',encoding='cp949')

In [11]:
# 카카코웹툰 소설
knp=pd.read_csv(path+'kakao_novel_completed.csv',encoding='cp949')

In [13]:
knp.iloc[0,[1,4]]

title                                          김 비서가 왜 그럴까
story    천상천하유아독존, 신이 빚어낸 마스터피스, 이 세상 내 맘대로 안 되는 건 없는 유...
Name: 0, dtype: object

In [14]:
knp.head()

   Unnamed: 0  ...                                          Thumbnail
0           0  ...  https://kr-a.kakaopagecdn.com/P/C/2307/c2/2x/c...
1           1  ...  https://kr-a.kakaopagecdn.com/P/C/2054/c2/2x/0...
2           2  ...  https://kr-a.kakaopagecdn.com/P/C/2468/c2/2x/9...
3           3  ...  https://kr-a.kakaopagecdn.com/P/C/2425/c2/2x/2...
4           4  ...  https://kr-a.kakaopagecdn.com/P/C/2405/c2/2x/c...

[5 rows x 7 columns]

In [16]:
# 카카오 웹툰
encoding='cp949'
kw = pd.read_csv(path+'kakao.csv',encoding=encoding)
kw.head()

   Unnamed: 0  ... platform
0           0  ...    카카오웹툰
1           1  ...    카카오웹툰
2           2  ...    카카오웹툰
3           3  ...    카카오웹툰
4           4  ...    카카오웹툰

[5 rows x 6 columns]

In [18]:
kw.tail()

     Unnamed: 0  ... platform
181         181  ...    카카오웹툰
182         182  ...    카카오웹툰
183         183  ...    카카오웹툰
184         184  ...    카카오웹툰
185         185  ...    카카오웹툰

[5 rows x 6 columns]

In [19]:
kw.day.unique()

array(['월', '화', '수', '목', '금', '토', '일'], dtype=object)

In [20]:
kw.title.value_counts()

니니툰즈                             5
조국이 당신을 원한다                      2
21’ LCK 서머 : Summer is Coming    2
이토록 보통의                          2
퀴퀴한 일기                           2
                                ..
남의 사랑 이야기                        1
닭은 의외로 위대하다                      1
후궁공략                             1
바니와 오빠들                          1
개목걸이                             1
Name: title, Length: 178, dtype: int64

In [21]:
kw.drop_duplicates('title',inplace=True)
kw.title.value_counts()

함께 춤을          1
뽀짜툰            1
하나하나둘          1
신랑이 사라졌다       1
트레이스 리마스터      1
              ..
방구석 여포         1
멀리서 보면 푸른 봄    1
남의 사랑 이야기      1
닭은 의외로 위대하다    1
개목걸이           1
Name: title, Length: 178, dtype: int64

카카오 페이지 (웹툰-통합)\
카카오 웹툰 (웹툰 - 연재,완결, 소설완결)

In [24]:
# 카카오 웹툰 완결
kwp=pd.read_csv(path+'kakao_completed.csv',encoding=encoding)

In [26]:
kw_total = kw.append(kwp)

In [27]:
kw_total.tail()

     Unnamed: 0  ...                                          Thumbnail
637         637  ...  https://kr-a.kakaopagecdn.com/P/C/5/c2/2x/e4ac...
638         638  ...  https://kr-a.kakaopagecdn.com/P/C/8/c2/2x/539f...
639         639  ...  https://kr-a.kakaopagecdn.com/P/C/6/c2/2x/7eea...
640         640  ...  https://kr-a.kakaopagecdn.com/P/C/4/c2/2x/6de5...
641         641  ...  https://kr-a.kakaopagecdn.com/P/C/1932/c2/2x/7...

[5 rows x 7 columns]

In [28]:
kw_total.drop('Unnamed: 0',axis=1,inplace=True)

In [29]:
kw_total.head()

             title day  ...  platform Thumbnail
0          바니와 오빠들   월  ...     카카오웹툰       NaN
1         사귄 건 아닌데   월  ...     카카오웹툰       NaN
2               액괴   월  ...     카카오웹툰       NaN
3  그 책에 마음을 주지 마세요   월  ...     카카오웹툰       NaN
4         오무라이스 잼잼   월  ...     카카오웹툰       NaN

[5 rows x 6 columns]

In [31]:
kw_total.drop('Thumbnail',axis=1,inplace=True)

In [32]:
kw_total.head(1)

     title day  ...                                              story platform
0  바니와 오빠들   월  ...  외모 따지지 않는 개념녀 ? 아니, 나 완전 얼빠 야! 신입생 시절, 남자의 외모를...    카카오웹툰

[1 rows x 5 columns]

In [33]:
kw_total.title.value_counts()

갱스쿨                2
아버지의 복수는 끝이 없어라    2
폭군황제의 첫사랑          2
늑대처럼 울어라           1
20세 보고서            1
                  ..
까칠한 임작가의 만화그리기     1
천연 天緣              1
내추럴 리드미칼2          1
밤의 새벽              1
개목걸이               1
Name: title, Length: 817, dtype: int64

In [37]:
kw_total.reset_index(inplace=True)

In [40]:
kw_total[kw_total.title=='폭군황제의 첫사랑']

     index  ... platform
123    128  ...    카카오웹툰
228     50  ...    카카오웹툰

[2 rows x 6 columns]

In [41]:
kw_total.drop_duplicates('title',inplace=True)

In [42]:
kw_total.to_csv(path+'kakaoweb.csv',encoding='utf-8',index=False)

In [44]:
naka=pd.read_csv(path+'na_ka.csv')

In [46]:
kw = pd.read_csv(path + 'kakaoweb.csv')

In [48]:
kw.drop('index',axis=1,inplace=True)

In [50]:
total = naka.append(kw)

In [51]:
total.head()

             title   writer  ... platform  day
0     우선 남동생부터 숨기자  unknown  ...   카카오페이지  NaN
1  이번 생은 가주가 되겠습니다  unknown  ...   카카오페이지  NaN
2         묵향 다크레이디  unknown  ...   카카오페이지  NaN
3     튜토리얼이 너무 어렵다  unknown  ...   카카오페이지  NaN
4     8클래스 마법사의 회귀  unknown  ...   카카오페이지  NaN

[5 rows x 7 columns]

In [52]:
total.tail()

        title writer  ... platform day
812   놀아죠 패밀리    NaN  ...    카카오웹툰  완결
813        바보    NaN  ...    카카오웹툰  완결
814       아파트    NaN  ...    카카오웹툰  완결
815      순정만화    NaN  ...    카카오웹툰  완결
816  노력의 卍(만)    NaN  ...    카카오웹툰  완결

[5 rows x 7 columns]

In [53]:
total.to_csv(path+'naver_kakao.csv',index=False,encoding='utf-8')