In [ ]:
import pandas as pd
path = '/content/drive/MyDrive/Colab Notebooks/final/'
naver_week = pd.read_csv(path + 'NAVER.csv',encoding = 'cp949')
naver_com = pd.read_csv(path + 'NAVER_FINISH.csv',encoding = 'cp949')

In [ ]:
naver = pd.concat([naver_week,naver_com])

In [ ]:
naver.isnull().sum()

id             0
title          0
author         0
day         1025
genre          0
story          0
score          0
platform       0
dtype: int64

In [ ]:
naver[naver.day.isnull()]

        id         title  ... score platform
0        0  국왕과 성기사의 약탈혼  ...  9.78   네이버 웹툰
1        1        성경의 역사  ...  7.43   네이버 웹툰
2        2          이츠마인  ...  9.97   네이버 웹툰
3        3      이세계 세입자들  ...  9.45   네이버 웹툰
4        4          구독금지  ...  9.90   네이버 웹툰
...    ...           ...  ...   ...      ...
1020  1020            AA  ...  9.68   네이버 웹툰
1021  1021          사랑in  ...  9.51   네이버 웹툰
1022  1022            까뱅  ...  8.83   네이버 웹툰
1023  1023           와탕카  ...  9.63   네이버 웹툰
1024  1024            타투  ...  9.20   네이버 웹툰

[1025 rows x 8 columns]

In [ ]:
naver_com[naver_com.title == '국왕과 성기사의 약탈혼']

   id         title  ... score platform
0   0  국왕과 성기사의 약탈혼  ...  9.78   네이버 웹툰

[1 rows x 7 columns]

In [ ]:
naver.day.fillna('완결',inplace=True)

In [ ]:
naver.isnull().sum()

id          0
title       0
author      0
day         0
genre       0
story       0
score       0
platform    0
dtype: int64

In [ ]:
naver.drop(columns=['id','score'],inplace=True)

In [ ]:
naver.insert(2,'writer',0)
naver.insert(3,'illustrator',1)

naver['writer'],naver['illustrator'] = zip(*naver['author'].apply(lambda x:[x.strip() for x in x.split('/')] if '/' in x else [x,x])) 
naver.head(3)

     title  ... platform
0      참교육  ...   네이버 웹툰
1     신의 탑  ...   네이버 웹툰
2  뷰티풀 군바리  ...   네이버 웹툰

[3 rows x 8 columns]

In [ ]:
naver.isna().sum()

title          0
author         0
writer         0
illustrator    0
day            0
genre          0
story          0
platform       0
dtype: int64

In [ ]:
naver.drop(columns=['author'],inplace = True)
naver.head()

     title writer  ...                                              story platform
0      참교육    채용택  ...  무너진 교권을 지키기 위해 교권보호국 소속 나화진의 참교육이 시작된다! 부활남 채용...   네이버 웹툰
1     신의 탑    SIU  ...     자신의 모든 것이었던 소녀를 쫓아 탑에 들어온 소년 그리고 그런 소년을 시험하는 탑   네이버 웹툰
2  뷰티풀 군바리     설이  ...                      여자도 군대에 간다면? 본격 여자도 군대 가는 만화!   네이버 웹툰
3   윈드브레이커    조용석  ...  혼자서 자전거를 즐겨타던 모범생 조자현. 원치 않게 자전거 크루의 일에 자꾸 휘말리...   네이버 웹툰
4     팔이피플     매미  ...  마스크걸 , 위대한 방옥숙 매미 희세 작가의 신작! 에서 육아용품 파는 평범한 유부...   네이버 웹툰

[5 rows x 7 columns]

In [ ]:
naver[naver.title == '그 기사가 레이디로 사는 법']

               title  ... platform
286  그 기사가 레이디로 사는 법  ...   네이버 웹툰

[1 rows x 7 columns]

In [ ]:
naver[naver.title == '헬 인 파라다이스']

         title  ... platform
176  헬 인 파라다이스  ...   네이버 웹툰

[1 rows x 7 columns]

In [ ]:
kpw = pd.read_csv(path  + 'kp_week1_1.csv')
kpc = pd.read_csv( path + 'kp_completed_1.csv')

In [ ]:
kpw.head(3)

   Unnamed: 0  ...        ID
0           0  ...  57492806
1           1  ...  56566288
2           2  ...  53216022

[3 rows x 9 columns]

In [ ]:
kpc.head(3)

   Unnamed: 0  ...        ID
0           0  ...  50242834
1           1  ...  56458652
2           2  ...  52902073

[3 rows x 9 columns]

In [ ]:
kp = pd.concat([kpw,kpc])
kp.head(3)

   Unnamed: 0  ...        ID
0           0  ...  57492806
1           1  ...  56566288
2           2  ...  53216022

[3 rows x 9 columns]

In [ ]:
kp.drop(columns = ['Unnamed: 0','t_image','ID'],inplace=True)

In [ ]:
kp.head(3)

             title  ... platform
0     우선 남동생부터 숨기자  ...   카카오페이지
1  이번 생은 가주가 되겠습니다  ...   카카오페이지
2         묵향 다크레이디  ...   카카오페이지

[3 rows x 6 columns]

In [ ]:
kp[kp.title == '명나라로 돌아가 왕이 되기']

              title  ... platform
114  명나라로 돌아가 왕이 되기  ...   카카오페이지

[1 rows x 6 columns]

In [ ]:
# kp.insert(1,'writer',0)
# kp.insert(2,'illustrator',1)

kp['writer'],kp['illustrator'] = zip(*kp['author'].apply(lambda x: [x.strip() for x in x.split(',')] if ',' in x else [x,x]))
kp.head(3)

             title  ... platform
0     우선 남동생부터 숨기자  ...   카카오페이지
1  이번 생은 가주가 되겠습니다  ...   카카오페이지
2         묵향 다크레이디  ...   카카오페이지

[3 rows x 8 columns]

In [ ]:
kp[kp.title == '로벨: 악의를 계승받은 자']

             title  ... platform
95  로벨: 악의를 계승받은 자  ...   카카오페이지

[1 rows x 8 columns]

In [ ]:
kp.drop('author',axis =1,inplace=True)

In [ ]:
df = pd.concat([naver,kp])
df.head(3)

     title writer  ...                                              story platform
0      참교육    채용택  ...  무너진 교권을 지키기 위해 교권보호국 소속 나화진의 참교육이 시작된다! 부활남 채용...   네이버 웹툰
1     신의 탑    SIU  ...     자신의 모든 것이었던 소녀를 쫓아 탑에 들어온 소년 그리고 그런 소년을 시험하는 탑   네이버 웹툰
2  뷰티풀 군바리     설이  ...                      여자도 군대에 간다면? 본격 여자도 군대 가는 만화!   네이버 웹툰

[3 rows x 7 columns]

In [ ]:
df_target =pd.read_csv(path + 'dataset_genre.csv',encoding='cp949')
df_target.head()

     title day  ... platform genre
0      참교육   월  ...   네이버 웹툰    액션
1     신의 탑   월  ...   네이버 웹툰   판타지
2  뷰티풀 군바리   월  ...   네이버 웹툰   드라마
3   윈드브레이커   월  ...   네이버 웹툰   스포츠
4     팔이피플   월  ...   네이버 웹툰   드라마

[5 rows x 7 columns]

In [ ]:
df_unchanged =df_target[~((df_target.platform == '네이버 웹툰')|(df_target.platform == '카카오페이지'))]

In [ ]:
df_changed= pd.concat([df_unchanged,df])
df_changed.head(3)

         title day  ... platform    genre
1469   바니와 오빠들   월  ...    카카오웹툰      로맨스
1470  사귄 건 아닌데   월  ...    카카오웹툰      로맨스
1471        액괴   월  ...    카카오웹툰  학원, 판타지

[3 rows x 7 columns]

In [ ]:
df_changed.isna().sum()

title          0
day            0
writer         0
illustrator    0
story          0
platform       0
genre          0
dtype: int64

In [ ]:
df_changed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4286 entries, 1469 to 851
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        4286 non-null   object
 1   day          4286 non-null   object
 2   writer       4286 non-null   object
 3   illustrator  4286 non-null   object
 4   story        4286 non-null   object
 5   platform     4286 non-null   object
 6   genre        4286 non-null   object
dtypes: object(7)
memory usage: 267.9+ KB

In [ ]:
df_changed.genre.unique()

array(['로맨스', '학원, 판타지', '로맨스, 판타지', '코믹, 일상', '액션, 무협', '공포,스릴러',
       '판타지 드라마', '드라마', '일상', '판타지', 'BL, GL', '개그', '미스터리', '학원', '액션',
       '스토리, 액션', '스토리, 판타지', '스토리, 드라마', '스토리, 스포츠', '스토리, 스릴러',
       '스토리, 로맨스', '에피소드, 드라마', '옴니버스, 판타지', '옴니버스, 일상', '에피소드, 개그',
       '스토리, 개그', '에피소드, 일상', '옴니버스, 드라마', '스토리, 감성', '스토리, 시대극',
       '에피소드, 액션', '에피소드, 판타지', '에피소드, 시대극', '에피소드, 스릴러', '스토리, 일상',
       '옴니버스, 로맨스', '옴니버스, 스릴러', '옴니버스, 개그', '에피소드, 로맨스', '옴니버스, 감성',
       '에피소드, 감성', '옴니버스, 액션', '에피소드, 스포츠', '옴니버스, 스포츠', '로판만화', '소년만화',
       '액션무협만화', '드라마만화', '로맨스만화', 'BL/GL만화'], dtype=object)

In [ ]:
df_changed.genre.replace({'로판만화':'로맨스, 판타지','로맨스만화':'로맨스','BL':'BL, GL','BL/GL':'BL, GL','BL/GL만화':'BL, GL',
                     '로맨스 판타지':'로맨스, 판타지','액션무협만화':'액션, 무협','액션/무협':'액션, 무협','코믹/일상': '코믹, 일상',
                     '공포/스릴러':'공포,스릴러','학원/판타지':'학원, 판타지','백합':'BL, GL','스토리, 액션':'액션', '스토리, 판타지':'판타지', '스토리, 드라마':'드라마', '스토리, 스포츠':'스포츠', '스토리, 스릴러':'스릴러',
                     '스토리, 로맨스':'로맨스', '에피소드, 드라마':'드라마', '옴니버스, 판타지':'판타지', '옴니버스, 일상':'일상', '에피소드, 개그':'개그','스토리, 개그':'개그', '에피소드, 일상':'일상', 
                     '옴니버스, 드라마':'드라마', '스토리, 감성':'감성', '스토리, 시대극':'시대극','에피소드, 액션':'액션', '에피소드, 판타지':'판타지', '에피소드, 시대극':'시대극', '에피소드, 스릴러':'스릴러', '스토리, 일상':'일상',
                     '옴니버스, 개그':'개그'},inplace=True)

In [ ]:
df_changed.genre.replace({'옴니버스, 로맨스':'로멘스', '옴니버스, 감성':'감성', '에피소드, 감성':'감성',
                     '옴니버스, 액션':'액션', '에피소드, 스포츠':'스포츠', '옴니버스, 스포츠':'스포츠'},inplace=True)

In [ ]:
df_changed.genre.unique()

array(['로맨스', '학원, 판타지', '로맨스, 판타지', '코믹, 일상', '액션, 무협', '공포,스릴러',
       '판타지 드라마', '드라마', '일상', '판타지', 'BL, GL', '개그', '미스터리', '학원', '액션',
       '스포츠', '스릴러', '감성', '시대극', '로멘스', '옴니버스, 스릴러', '에피소드, 로맨스', '소년만화',
       '드라마만화'], dtype=object)

In [ ]:
df_changed.to_csv(path+'dataset.csv',encoding='utf-8')

### 영성님 작업 전처리

In [2]:
import pandas as pd
path = '/content/drive/MyDrive/Colab Notebooks/final/'
web = pd.read_csv(path + 'webtoon최종.csv',encoding='cp949')

In [3]:
web.head()

   Unnamed: 0    title day  ... Unnamed: 11 Unnamed: 12 Unnamed: 13
0           0      참교육   월  ...         NaN         NaN         NaN
1           1     신의 탑   월  ...         NaN         NaN         NaN
2           2  뷰티풀 군바리   월  ...         NaN         NaN         NaN
3           3   윈드브레이커   월  ...         NaN         NaN         NaN
4           4     팔이피플   월  ...         NaN         NaN         NaN

[5 rows x 14 columns]

In [4]:
web=web[['title','writer','illustrator','day','genre','story','platform']]
web.head(3)

     title writer  ...                                              story platform
0      참교육    채용택  ...  무너진 교권을 지키기 위해 교권보호국 소속 나화진의 참교육이 시작된다! 부활남 채용...   네이버 웹툰
1     신의 탑    SIU  ...     자신의 모든 것이었던 소녀를 쫓아 탑에 들어온 소년 그리고 그런 소년을 시험하는 탑   네이버 웹툰
2  뷰티풀 군바리     설이  ...                      여자도 군대에 간다면? 본격 여자도 군대 가는 만화!   네이버 웹툰

[3 rows x 7 columns]

### 장르변환

In [5]:
web.genre.replace({'로판만화':'로맨스, 판타지','로맨스만화':'로맨스','BL':'BL, GL','BL/GL':'BL, GL','BL/GL만화':'BL, GL',
                     '로맨스 판타지':'로맨스, 판타지','액션무협만화':'액션, 무협','액션/무협':'액션, 무협','코믹/일상': '코믹, 일상',
                     '공포/스릴러':'공포,스릴러','학원/판타지':'학원, 판타지','백합':'BL, GL','스토리, 액션':'액션', '스토리, 판타지':'판타지', '스토리, 드라마':'드라마', '스토리, 스포츠':'스포츠', '스토리, 스릴러':'스릴러',
                     '스토리, 로맨스':'로맨스', '에피소드, 드라마':'드라마', '옴니버스, 판타지':'판타지', '옴니버스, 일상':'일상', '에피소드, 개그':'개그','스토리, 개그':'개그', '에피소드, 일상':'일상', 
                     '옴니버스, 드라마':'드라마', '스토리, 감성':'감성', '스토리, 시대극':'시대극','에피소드, 액션':'액션', '에피소드, 판타지':'판타지', '에피소드, 시대극':'시대극', '에피소드, 스릴러':'스릴러', '스토리, 일상':'일상',
                     '옴니버스, 개그':'개그'},inplace=True)

In [53]:
web.genre.replace({'옴니버스, 로맨스':'로맨스', '옴니버스, 감성':'감성', '에피소드, 감성':'감성',
                     '옴니버스, 액션':'액션', '에피소드, 스포츠':'스포츠', '옴니버스, 스포츠':'스포츠',
                   '코미가':'코믹, 일상','판타지 드라마':'판타지, 드라마','옴니버스, 스릴러':'스릴러',
                   '에피소드, 로맨스':'로맨스','로멘스':'로맨스','드라마만화':'드라마','학원':'힉원, 판타지',
                   '미스터리':'스릴러','힉원, 판타지':'학원, 판타지'},inplace=True)

In [54]:
web.genre.unique()

array(['액션', '판타지', '드라마', '스포츠', '스릴러', '로맨스', '일상', '개그', '감성', '시대극',
       '학원, 판타지', '로맨스, 판타지', '코믹, 일상', '액션, 무협', '공포,스릴러', '판타지, 드라마',
       '소년만화', 'BL, GL'], dtype=object)

In [55]:
web.genre.nunique()

18

In [20]:
web.groupby(web['platform']).size()

platform
네이버 웹툰    1469
레진코믹스      123
카카오웹툰      989
카카오페이지    1443
dtype: int64

In [58]:
data1=web.groupby(['genre']).size()
pd.DataFrame(data1,columns=['Count'])

          Count
genre
BL, GL      290
감성           29
개그          137
공포,스릴러       84
드라마         773
로맨스         732
로맨스, 판타지    266
소년만화        246
스릴러         189
스포츠          20
시대극          22
액션          114
액션, 무협      332
일상           85
코믹, 일상      126
판타지         286
판타지, 드라마    153
학원, 판타지     140

In [85]:
web.genre.replace({'코믹, 일상':'개그','일상':'개그'},inplace=True)

In [86]:
data=web.groupby(['platform','genre']).size()

In [87]:
pd.DataFrame(data,columns=['Count'])

                   Count
platform genre
네이버 웹툰   감성           29
         개그          201
         드라마         347
         로맨스         290
         스릴러         187
         스포츠          20
         시대극          22
         액션          108
         판타지         265
레진코믹스    BL, GL       34
         개그           21
         드라마          20
         로맨스          16
         스릴러           2
         액션            6
         판타지          21
         학원, 판타지       3
카카오웹툰    개그          126
         공포,스릴러       84
         드라마         175
         로맨스         146
         로맨스, 판타지     91
         액션, 무협       77
         판타지, 드라마    153
         학원, 판타지     137
카카오페이지   BL, GL      256
         드라마         231
         로맨스         280
         로맨스, 판타지    175
         소년만화        246
         액션, 무협      255

In [88]:
web.to_csv(path+'dataset_genre.csv',encoding='utf8',index=False)

In [89]:
web[web.genre=='시대극']

            title  ... platform
52        사막에 핀 달  ...   네이버 웹툰
85           삼국지톡  ...   네이버 웹툰
138          화산귀환  ...   네이버 웹툰
173           칼부림  ...   네이버 웹툰
303            몽홀  ...   네이버 웹툰
632        봉이 김선달  ...   네이버 웹툰
763        조선방랑야사  ...   네이버 웹툰
832            귀인  ...   네이버 웹툰
900        왕으로 살다  ...   네이버 웹툰
930            혈투  ...   네이버 웹툰
1016    천국의 신화 6부  ...   네이버 웹툰
1086     아이소포스 3부  ...   네이버 웹툰
1109        오성X한음  ...   네이버 웹툰
1127       천국의 신화  ...   네이버 웹툰
1137  아이소포스 1, 2부  ...   네이버 웹툰
1177           문아  ...   네이버 웹툰
1276        삵의 발톱  ...   네이버 웹툰
1293           비흔  ...   네이버 웹툰
1325         한섬세대  ...   네이버 웹툰
1381           묵회  ...   네이버 웹툰
1387        흐드러지다  ...   네이버 웹툰
1455        태왕광개토  ...   네이버 웹툰

[22 rows x 7 columns]