In [1]:
import pandas as pd
path = '/content/drive/MyDrive/Colab Notebooks/final/'
test = pd.read_csv(path+'test.csv')

In [2]:
test.head(1)

  title writer  ...                                              story platform
0   참교육    채용택  ...  무너진 교권을 지키기 위해 교권보호국 소속 나화진의 참교육이 시작된다! 부활남 채용...   네이버 웹툰

[1 rows x 7 columns]

In [3]:
redundancy = test.title.value_counts()

In [4]:
redundancy.head()

폭군황제의 첫사랑      3
갱스쿨            3
트리거            3
키몽의 호구로운 생활    2
승리호            2
Name: title, dtype: int64

In [14]:
redundancy['index']=0

In [16]:
redundancy

폭군황제의 첫사랑        3
갱스쿨              3
트리거              3
키몽의 호구로운 생활      2
승리호              2
                ..
나는 매일 그를 훔쳐본다    1
비질란테             1
사수생도 연애를 한다      1
inedx            0
index            0
Name: title, Length: 4016, dtype: int64

In [5]:
type(redundancy)

pandas.core.series.Series

In [18]:
red = pd.DataFrame(redundancy)
red['index']=0
red.head()

             title  index
폭군황제의 첫사랑        3      0
갱스쿨              3      0
트리거              3      0
키몽의 호구로운 생활      2      0
승리호              2      0

In [22]:
red.reset_index(inplace=True)

In [23]:
red.columns

Index(['level_0', 'title', 'index'], dtype='object')

In [31]:
# red.drop(columns=['index'],inplace=True)
red.columns=['title','n_count']
red.head(1)

       title  n_count
0  폭군황제의 첫사랑        3

In [32]:
clear = pd.merge(test,red,on='title')

In [33]:
clear.head()

     title writer  ... platform n_count
0      참교육    채용택  ...   네이버 웹툰       1
1     신의 탑    SIU  ...   네이버 웹툰       1
2  뷰티풀 군바리     설이  ...   네이버 웹툰       1
3   윈드브레이커    조용석  ...   네이버 웹툰       1
4     팔이피플     매미  ...   네이버 웹툰       1

[5 rows x 8 columns]

In [39]:
target = clear[clear.n_count > 1]

In [40]:
target

                title writer  ... platform n_count
62                트리거    고경빈  ...   네이버 웹툰       3
63                트리거   불만있냥  ...   카카오페이지       3
64                트리거   불만있냥  ...    카카오웹툰       3
280            성경의 역사    최경민  ...   네이버 웹툰       2
281            성경의 역사    최경민  ...   네이버 웹툰       2
...               ...    ...  ...      ...     ...
3233         당신은 나의 신     재해  ...    레진코믹스       2
3237              체이서    하준성  ...   카카오페이지       2
3238              체이서    하준성  ...    카카오웹툰       2
3334  아버지의 복수는 끝이 없어라    강태진  ...    카카오웹툰       2
3335  아버지의 복수는 끝이 없어라    강태진  ...    카카오웹툰       2

[211 rows x 8 columns]

In [41]:
target.to_csv(path + 'target.csv',index=False,encoding='utf-8')